# IGNORE
# -------------

*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS & EDITOR FOLDERS
# ----------------------------------
assets/stylesheet/.sass-cache/*
.sass-cache

.DS_Store
.vagrant
Desktop.ini
node_modules
npm-debug.log
public
Thumbs.db