html {
  line-height: $golden;
  color: #000;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
  font-weight: lighter;
  font-size: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

::selection,
::-moz-selection {
  background: #222;
  color: #fff;
}

$cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

body {
  background: #f6f6f6;
}

a {
  border-bottom: 1px dotted #ccc;
  opacity: .4;
  @include transition(color 1s ease, opacity 1s ease);
  
  &:hover {
    color: #f33;
    opacity: 1;
    @include transition(color .3s ease, opacity .3s ease);
  }
}

h1, h2, h3, h4, p, a, span {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: #000;
  font-weight: lighter;
  text-decoration: none;
  line-height: 1rem;
  
  span { opacity: .4; padding-left: 5px; }
}

.vcard {
  display: table;
  height: 200px;
  width: 74%;
  position: fixed;
  top: 50%;
  left: 13%;
  margin-top: -100px;
  opacity: 1;
  @include transition(opacity .5s $cubic);
  
  &.hide { opacity: 0; }
  
  h1, ul {
    display: table-cell;
    vertical-align: middle;
  }
  
  ul li {
    display: block;
    height: 40px;
    
    a {
      display: inline-block;
      width: auto;
      line-height: 40px;
      border: none;
    }
  }
}

.work {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 100vh 12vw 50vh 12vw;
  pointer-events: none;
  
  .project {
    display: block;
    margin-bottom: 50vh;
    
    img { margin-bottom: 5vw; }
  }
  
  h2 {
    width: 100vh;
    height: 8vw;
    @include transform(rotate(-90deg));
    position: fixed;
    text-align: center;
    bottom: -8vw;
    left: 0;
    transform-origin: left top;
    vertical-align: middle;
    line-height: 8vw;
    opacity: 0;
    @include transition(opacity .25s $cubic);
    
    &.show {
      opacity: 1;
      @include transition(opacity .5s $cubic .25s);
    }
  }
  
  img {
    display: block;
    width: 100%;
  }
}