html {
  line-height: $golden;
  color: #000;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
  font-weight: lighter;
  font-size: 26px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

::selection,
::-moz-selection {
  background: #222;
  color: #fff;
}

$cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

body {
  background: #f6f6f6;
}

a {
  border-bottom: 1px dotted #ccc;
  opacity: .4;
  @include transition(color 1s ease, opacity 1s ease);
  
  &:hover {
    color: #f33;
    opacity: 1;
    @include transition(color .3s ease, opacity .3s ease);
  }
}

h1, h2, h3, h4, p, a, span {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: #000;
  font-weight: lighter;
  text-decoration: none;
  line-height: 1rem;
  
  span { opacity: .4; padding-left: 5px; }
  
  br { display: none; }
}

.vcard {
  display: table;
  height: 200px;
  width: 74%;
  position: fixed;
  top: 50%;
  left: 13%;
  margin-top: -100px;
  opacity: 1;
  @include transition(opacity .5s $cubic);
  
  &.hide { opacity: 0; }
  
  h1, ul {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    text-align: left;
  }
  
  ul { margin-top: 0;}
  
  ul li {
    display: block;
    height: 40px;
    
    a {
      display: inline-block;
      width: auto;
      line-height: 40px;
      border: none;
    }
  }
}

.work {
  opacity: 0;
  @include transition(opacity .5s $cubic .5s);
}

@media #{"only screen and (max-width : 1680px)"} { html { font-size: 23px; } }
@media #{"only screen and (max-width : 1440px)"} { html { font-size: 20px; } }

@media #{"only screen and (max-width : 853px)"} {
  .vcard {
    display: block;
    height: 400px;
    margin-top: -200px;
    
    h1, ul {
      display: block;
      width: 100%;
      text-align: center;
    }
    
    ul {
      margin-top: 50%;
      
      li { height: 44px; }
    }
  }
}

@media #{"only screen and (max-width : 414px)"} {
  html { font-size: 18px;}
  
  .vcard {
    width: 90%;
    left: 5%;
    
    h1 {
      line-height: 2.2rem;
      
      span { padding-left: 0; }
      br { display: block; }
    }
    
    ul { margin-top: 40%; }
  }
}