$cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

.work {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 100vh 12vw 50vh;
  pointer-events: none;
  opacity: 1;
  
  .project {
    display: block;
    margin-bottom: 50vh;
    
    img { margin-bottom: 5vw; }
  }
  
  h2 {
    width: 100vh;
    height: 8vw;
    @include transform(rotate(-90deg));
    position: fixed;
    text-align: center;
    bottom: -8vw;
    left: 0;
    transform-origin: left top;
    vertical-align: middle;
    line-height: 8vw;
    opacity: 0;
    @include transition(opacity .25s $cubic);
    
    &.show {
      opacity: 1;
      @include transition(opacity .5s $cubic .25s);
    }
  }
  
  img {
    display: block;
    width: 100%;
  }
}

@media #{"only screen and (max-width : 853px)"} {
  .work {
    padding: 100vh 9vw 70vh;
    
    .project { margin-bottom: 30vh; }
  }
}