<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Filipe Guth &nbsp; &mdash; &nbsp; Designer</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="images/icon.png" rel="icon" sizes="32x32" type="image/png">
    <link href="styles/major.css" rel="stylesheet">

    <noscript>
      <link href="styles/minor.css" rel="stylesheet">
    </noscript>
  </head>
  <body>
    <section class="vcard">
      <h1>Filipe Guth <span>24, Designer at</span> <a href="http://work.co" title="Work & Company Website">Work & Co.</a></h1>
      <ul>
        <li><a href="" title="">Linkedin</a></li>
        <li><a href="" title="">Behance</a></li>
        <li><a href="" title="">Twitter</a></li>
        <li><a href="" title="">Github</a></li>
        <li><a href="" title="">Email</a></li>
      </ul>
    </section>
    <section class="work">
      <div class="project">
        <h2>Onde : Comer <span>2014</span></h2>
        <img src="images/ondeComer.jpg" alt="Onde : Comer 2015">
      </div>
      <div class="project">
        <h2>Onde : Comer <span>2014</span></h2>
        <img src="images/ondeComer.jpg" alt="Onde : Comer 2015">
      </div>
      <div class="project">
        <h2>Onde : Comer <span>2014</span></h2>
        <img src="images/ondeComer.jpg" alt="Onde : Comer 2015">
      </div>
    </section>
    <script src="scripts/main.js"></script>
  </body>
</html>