<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>&mdash; Filipe Guth</title>

    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="Ff7hVpuB299teXo60levVetS--dgE7nZggK1lO6XV1E" />
    <meta name="keywords" content="designer, product design, ui design, ux design, ui/ux, visual, visual design, user interface, user experience, ui, ux, ios, pixel perfect, work & co, work & company, ux designer, front-end">
    <meta name="description" content="Designer at Work & Co.; amateur cyclist; creator of ThePot.is">
    
    <link rel="icon" type="image/x-icon" href="images/favicons/favicon-32.ico">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32.png" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="images/favicons/favicon-72.png" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="images/favicons/favicon-114.png" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="images/favicons/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon-precomposed" href="images/favicons/favicon-144.png" sizes="144x144">
    <link rel="apple-touch-icon-precomposed" href="images/favicons/favicon-152.png" sizes="152x152">
    <meta name="apple-mobile-web-app-title" content="Filipe Guth">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    
    <!--  OG  -->
    <meta property="og:title" content="&mdash; Filipe Guth">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="http://fguth.com">
    <meta property="og:site_name" content="Filipe Guth">
    <meta property="og:description" content="Filipe Guth. Designer at Work & Co.; amateur cyclist; creator of ThePot.is">
    <meta property="og:image" content="http://fguth.com/images/favicons/facebook.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@fguth">
    <meta name="twitter:creator" content="@fguth">
    <meta name="twitter:title" content="fguth.com">
    <meta name="twitter:description" content="Filipe Guth. Designer at Work & Co.; amateur cyclist; creator of ThePot.is">
    <meta name="twitter:url" content="https://twitter.com/fguth">
    <meta name="twitter:image" content="http://fguth.com/images/favicons/twitter.png">
    
    <link href="styles/major.css" rel="stylesheet">

    <noscript>
      <link href="styles/minor.css" rel="stylesheet">
    </noscript>
  </head>
  <body>
    <section>
			<span>&mdash;</span>
    	<p>Filipe Guth &mdash; <a href="mailto:lfguth@gmail.com?subject=hey" title="Get in touch">lfguth@gmail.com</a></p>
      <h1><a href="http://work.co/" title="Designer at Work & Co.">designer</a>;
      <br><a href="https://www.strava.com/athletes/239972" title="Cyclist profile on Strava">cyclist</a>.</h1>
      
    </section>
    <script src="scripts/main.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22998191-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>