@font-face {
  font-family: 'Social';
  src:url('../fonts/social/social.eot');
  src:url('../fonts/social/social.eot?#iefix') format('embedded-opentype'),
    url('../fonts/social/social.woff') format('woff'),
    url('../fonts/social/social.ttf') format('truetype'),
    url('../fonts/social/social.svg#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: asset-url('../fonts/proxima-nova/proxima-regular.eot');
  src: asset-url('../fonts/proxima-nova/proxima-regular.eot?#iefix') format('embedded-opentype'),
       asset-url('../fonts/proxima-nova/proxima-regular.woff') format('woff'),
       asset-url('../fonts/proxima-nova/proxima-regular.ttf') format('truetype'),
       asset-url('../fonts/proxima-nova/proxima-regular.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$proxima: 'Proxima Nova', sans-serif;
