@font-face {
  font-family: 'Social';
  src:url('../fonts/social/social.eot');
  src:url('../fonts/social/social.eot?#iefix') format('embedded-opentype'),
    url('../fonts/social/social.woff') format('woff'),
    url('../fonts/social/social.ttf') format('truetype'),
    url('../fonts/social/social.svg#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Medium';
  src: asset-url('../fonts/cooper-hewitt/CooperHewitt-Medium.eot'),
       asset-url('../fonts/cooper-hewitt/CooperHewitt-Medium.woff') format('woff'),
       asset-url('../fonts/cooper-hewitt/CooperHewitt-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$cooper: 'CooperHewitt-Medium', sans-serif;
