// Mixins and Variables
//---------------------------------------------------------------
.font(@font-size) {
	font:@font-size "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.width-height {
	width:100%;
	height:100%;
}

.transition(@time) {
	-webkit-transition: all @time ease;
	-moz-transition: all @time ease;
	-o-transition: all @time ease;
	transition: all @time ease;
}

@color-light: #aaaeb1;
@color-soft: #444;
@color-dark: #4d4f58;

// Media Querie for Mobile Layout
//---------------------------------------------------------------
@mobile: ~"screen and (min-width: 320px) and (max-width: 790px)";


// Basic Layout
//---------------------------------------------------------------
body {
	.width-height;
	margin:0;
	background:#fff;
	.font(14px);
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
	font-size: 44px;
	color: @color-dark;
	font-weight: 400;
	text-transform: lowercase;
	letter-spacing: -2px;
}

p {
	line-height: 24px;
	letter-spacing: -0.031em;
	font-weight: 200;
	font-size: 14px;
	color: @color-soft;
}

a {
	text-decoration: none;
	font-weight: 400;
	text-transform: lowercase;
	letter-spacing: -1px;
	color: @color-light;
	.transition(0.7s);

	&:hover {
		color: #bc4945;
		.transition(0.3s);
	}
}

ul li { display: block; }
