@import "structure";

.page {
	max-width: 960px;
	margin: 0 auto;
	padding:0 20px;

	header {
		position: fixed;
		width: 198px;
		height: 100%;
		padding: 60px 50px 40px 0;
		background: #fff;
		z-index: 15;

		@media @mobile {
			padding: 60px 0 40px;
			width: 100%;
			height: auto;
			overflow: auto;
			position: relative;
		}

		h1 {
			line-height: 30px;
			margin: 0 0 60px;
		}

		p {
			margin: 0 0 55px;

			@media @mobile {
				float: left;
				width: 60%;
				margin: 0;
			}
		}

		ul, ul li a {
			float: left;
		}

		ul {

			@media @mobile {
				width: 40%;
				display: inline-block;
				margin-top: -8px;

				li {
					text-align: right;

					a {
					float: none;
					width: 100%;
					text-align: right;
					}
				}
			}

			li {
				a {
					line-height: 40px;
					font-size: 26px;
				}
			}
		}
	}

	section,
	section .work {
		max-width: 750px;
	}

	section {
		margin: 0 0 0 250px;

		@media @mobile { margin: 0; }

		.work {
			padding: 60px 0 28px 0;

			@media @mobile { padding: 0; }

				img {
					width:100%;
				  margin: 0 0 32px;
					position: relative;
					border: 1px solid #e4e4e4;

					@media screen and (max-width: 320px) { margin: 0 0 16px; }
				}
			}
		}
	}
}