html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Social';
  src: url("../fonts/social/social.eot");
  src: url("../fonts/social/social.eot?#iefix") format("embedded-opentype"), url("../fonts/social/social.woff") format("woff"), url("../fonts/social/social.ttf") format("truetype"), url("../fonts/social/social.svg#social") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: asset-url("../fonts/proxima-nova/proxima-regular.eot");
  src: asset-url("../fonts/proxima-nova/proxima-regular.eot?#iefix") format("embedded-opentype"), asset-url("../fonts/proxima-nova/proxima-regular.woff") format("woff"), asset-url("../fonts/proxima-nova/proxima-regular.ttf") format("truetype"), asset-url("../fonts/proxima-nova/proxima-regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova", sans-serif;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #929292; }

p {
  color: #929292;
  line-height: 24px;
  font-size: 16px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #929292;
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-decoration: none;
  outline: none; }
  a:hover {
    color: #bc4945;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }

header {
  position: fixed;
  top: 50%;
  margin-top: -132px;
  left: 10%;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  header h1 {
    margin: 0 0 24px; }
  header .social-links {
    margin: 26px 0 0; }

.social-links li a {
  float: left;
  font-family: "Social";
  padding: 10px;
  background: #fafafa;
  font-size: 20px;
  color: #929292;
  font-weight: normal;
  border: none; }
  .social-links li a:hover {
    background: #aaa;
    color: #fff;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }
    .social-links li a:hover.github {
      background: #444444; }
    .social-links li a:hover.dribbble {
      background: #ea4c89; }
    .social-links li a:hover.twitter {
      background: #22a5dd; }
    .social-links li a:hover.rdio {
      background: #008fd5; }
    .social-links li a:hover.email {
      background: #d14836; }

.work {
  float: right !important;
  margin: 200px 10% 0 0;
  width: 750px;
  padding: 60px 0 0; }
  .work img {
    float: left;
    margin-bottom: 60px; }
