html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}
nav ul{list-style:none;}
ol{list-style:decimal;}
ul{list-style:disc;}
ul ul{list-style:circle;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{text-decoration:underline;}
del{text-decoration:line-through;}
mark{background:none;}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select,a img{vertical-align:middle;}
.width-height{width:100%;height:100%;}
body{width:100%;height:100%;margin:0;background:#fff;font:14px "Helvetica Neue",Helvetica,Arial,Sans-serif;-webkit-font-smoothing:antialiased;}
h1,h2,h3,h4{font-weight:100;font-size:44px;color:#4d4f58;font-weight:400;text-transform:lowercase;letter-spacing:-2px;}
p{line-height:24px;letter-spacing:-0.031em;font-weight:200;font-size:14px;color:#444444;}
a{text-decoration:none;font-weight:100;text-transform:lowercase;letter-spacing:-1px;color:#aaaeb1;-webkit-transition:all 0.7s ease;-moz-transition:all 0.7s ease;-o-transition:all 0.7s ease;transition:all 0.7s ease;}a:hover{color:#bc4945;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
body{width:100%;height:100%;margin:0;background:#fff;font:14px "Helvetica Neue",Helvetica,Arial,Sans-serif;-webkit-font-smoothing:antialiased;}
h1,h2,h3,h4{font-weight:100;font-size:44px;color:#4d4f58;font-weight:400;text-transform:lowercase;letter-spacing:-2px;}
p{line-height:24px;letter-spacing:-0.031em;font-weight:200;font-size:14px;color:#444444;}
a{text-decoration:none;font-weight:400;text-transform:lowercase;letter-spacing:-1px;color:#aaaeb1;-webkit-transition:all 0.7s ease;-moz-transition:all 0.7s ease;-o-transition:all 0.7s ease;transition:all 0.7s ease;}a:hover{color:#bc4945;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
ul li{display:block;}
#page{width:1000px;margin:0 auto;}#page header{position:fixed;width:198px;height:100%;padding:60px 50px 40px 0;background:#fff;z-index:15;}#page header h1{line-height:30px;margin:0 0 60px;}
#page header p{margin:0 0 55px;}
#page header ul,#page header ul li a{float:left;}
#page header ul li a{line-height:40px;font-size:26px;}
#page section,#page section hr,#page section #showreel,#page section #showreel .work,#page section #showreel .work .more{float:left;width:750px;}
#page section{margin:0 0 0 250px;}#page section #showreel{padding:60px 0 60px 0;}#page section #showreel .work .more{position:absolute;z-index:20;height:60px;margin:320px 0 0;}#page section #showreel .work .more .details{float:right;height:60px;width:0;-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-o-transition:all 0.25s ease;transition:all 0.25s ease;background:rgba(0, 0, 0, 0.6);color:#fff;}#page section #showreel .work .more .details h3,#page section #showreel .work .more .details p{display:none;}
#page section #showreel .work .more .visible{width:367px;padding:0 0 0 20px;margin:0 0 0 1px;-webkit-transition:all 0.45s ease;-moz-transition:all 0.45s ease;-o-transition:all 0.45s ease;transition:all 0.45s ease;}#page section #showreel .work .more .visible h3{font-size:30px;color:#fff;line-height:60px;display:block;}
#page section #showreel .work .more a{float:right;width:60px;height:60px;background:rgba(0, 0, 0, 0.2);cursor:pointer;font-size:50px;line-height:49px;text-align:center;color:rgba(255, 255, 255, 0.3);font-weight:100;}#page section #showreel .work .more a:hover{background:rgba(0, 0, 0, 0.4);color:#ffffff;}
#page section #showreel .work img{z-index:10;position:relative;border:1px solid #e4e4e4;}
#page section #showreel hr{border:none;margin:0;float:left;height:32px;}
