@import "reset";
@import "structure";

body {
	.width-height;
	margin:0;
	background:#fff;
	.font(14px);
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4 {
	font-weight:100;
	font-size:44px;
	color:@color-dark;
	font-weight:400;
	text-transform:lowercase;
	letter-spacing:-2px;
}
p {
	line-height:24px;
	letter-spacing:-0.031em;
	font-weight:200;
	font-size:14px;
	color:@color-soft;
}
a {
	text-decoration:none;
	font-weight:400;
	text-transform:lowercase;
	letter-spacing:-1px;
	color:@color-light;
	.transition(0.7s);
	&:hover {
		color:#bc4945;
		.transition(0.3s);
	}
}
ul li { display:block; }


/*  */
#page {
	width:1000px;
	margin:0 auto;
	header {
		position:fixed;
		width:198px;
		height:100%;
		padding:60px 50px 40px 0;
		background:#fff;
		z-index:15;
		h1 {
			line-height:30px;
			margin:0 0 60px;
		}
		p {
			margin:0 0 55px;
		}
		ul, ul li a { float:left; }
		ul {
			li {
				a {
					line-height:40px;
					font-size:26px;
				}
			}
		}
	}
	section,
	section hr,
	section #showreel,
	section #showreel .work,
	section #showreel .work .overlay,
	section #showreel .work .work-info .content,
	section #showreel .work .work-info .content h2,
	section #showreel .work .work-info .content ul,
	section #showreel .work .work-info .content ul li { float:left; }
	section #showreel .work .work-info .content h2,
	section #showreel .work .work-info .content ul { width:100%; }
	section #showreel,
	section #showreel hr,
	section #showreel .work,
	section #showreel .work .overlay { width:750px; }
	section {
		width:750px;
		margin:0 0 0 250px;
		#showreel {
			padding:60px 0 60px 0;
			.work {
				height:380px;
				z-index:20;
				img {
					position:relative;
					z-index:10;
					border:1px solid #e4e4e4;
				}
				.overlay, .work-info span { position:absolute; }
				img, .overlay, .work-info, .work-info a { .transition(0.25s); }
				.overlay {
					width:738px;
					height:368px;
					z-index:11;
					border:6px solid transparent;
					cursor:pointer;
					a {
						float:right;
						width:0;
						height:90px;
						background:#fff url(../images/ui-sprites.png) no-repeat 0 0;
						margin:139px -6px 0 0;
						-webkit-transition: all .35s Ease-Out;
						-moz-transition: all .35s Ease-Out;
						-o-transition: all .35s Ease-Out;
						transition: all .35s Ease-Out;
						-moz-border-radius-topleft: 5px;
						-moz-border-radius-topright: 0px;
						-moz-border-radius-bottomright: 0px;
						-moz-border-radius-bottomleft: 5px;
						-webkit-border-radius: 5px 0px 0px 5px;
						border-radius: 5px 0px 0px 5px;
						-webkit-box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.2);
						-moz-box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.2);
						box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.2);
						&:hover {
							.transition(.1s);
						}
					}
					a.soft {
						&:active {
							-webkit-box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.3);
							-moz-box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.3);
							box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.3);
						}
					}
					a.dark {
						&:active {
							-webkit-box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.6);
							-moz-box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.6);
							box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.6);
						}
					}
				}
				.work-info {
					float:right;
					position:relative;
					z-index:5;
					width:250px;
					height:380px;
					margin:-380px 0 0 100px;
					padding:0 20px;
					bottom:0;
					.content {
						bottom:0;
						position:absolute;
						h2 {
						}
						ul {
							margin:13px 0 10px;
							li {
								padding:1px 6px;
								background:#ccc;
								font-size:10px;
								color:#fff;
								line-height:auto;
								margin:0 2px 0 0;
								font-weight:bold;
								text-shadow: 0px 1px 0px #a35c23;
								filter: dropshadow(color=#a35c23, offx=0, offy=1);
								.shadow(0,1px,2px,0,#ccc);
								.border-radius(3px);
								background: rgb(230,135,59); /* Old browsers */
								background: -moz-linear-gradient(top,  rgba(230,135,59,1) 0%, rgba(215,121,46,1) 99%);
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,135,59,1)), color-stop(99%,rgba(215,121,46,1)));
								background: -webkit-linear-gradient(top,  rgba(230,135,59,1) 0%,rgba(215,121,46,1) 99%);
								background: -o-linear-gradient(top,  rgba(230,135,59,1) 0%,rgba(215,121,46,1) 99%);
								background: -ms-linear-gradient(top,  rgba(230,135,59,1) 0%,rgba(215,121,46,1) 99%);
								background: linear-gradient(top,  rgba(230,135,59,1) 0%,rgba(215,121,46,1) 99%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6873b', endColorstr='#d7792e',GradientType=0 );
							}
							li.main {
								text-shadow: 0px 1px 0px #743807;
								filter: dropshadow(color=#743807, offx=0, offy=1);
								background: rgb(174,86,15);
								background: -moz-linear-gradient(top,  rgba(174,86,15,1) 0%, rgba(152,73,10,1) 100%);
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,86,15,1)), color-stop(100%,rgba(152,73,10,1)));
								background: -webkit-linear-gradient(top,  rgba(174,86,15,1) 0%,rgba(152,73,10,1) 100%);
								background: -o-linear-gradient(top,  rgba(174,86,15,1) 0%,rgba(152,73,10,1) 100%);
								background: -ms-linear-gradient(top,  rgba(174,86,15,1) 0%,rgba(152,73,10,1) 100%);
								background: linear-gradient(top,  rgba(174,86,15,1) 0%,rgba(152,73,10,1) 100%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae560f', endColorstr='#98490a',GradientType=0 );
							}
						}
						a {
							&:hover {
								text-decoration:underline;
							}
						}
					}
				}
				&:hover {
					.overlay {
						border:6px solid rgba(255,255,255,0.3);
						.shadow (0,0,5px,0,#ccc);
						a {
							opacity:1;
							width:40px;
							margin:139px -6px 0 0;
						}
					}
				}
			}
			.opened {
				img, .overlay {
					margin-left:-290px;
				}
				.overlay {
					a {
						background-position:-40px 0;
					}
				}
			}
			hr {
				border:none;
				margin:0;
				float:left;
				height:32px;
			}
		}
	}
}