@font-face {
  font-family: 'BentonSans';
  src: url("../fonts/BentonSans-Bold.eot");
  src: url("../fonts/BentonSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Bold.woff") format("woff"), url("../fonts/BentonSans-Bold.ttf") format("truetype"), url("../fonts/BentonSans-Bold.svg#BentonSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BentonSans-Book';
  src: url("../fonts/BentonSans-Book.eot");
  src: url("../fonts/BentonSans-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Book.woff") format("woff"), url("../fonts/BentonSans-Book.ttf") format("truetype"), url("../fonts/BentonSans-Book.svg#BentonSans-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BentonSans';
  src: url("../fonts/BentonSans-Medium.eot");
  src: url("../fonts/BentonSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Medium.woff") format("woff"), url("../fonts/BentonSans-Medium.ttf") format("truetype"), url("../fonts/BentonSans-Medium.svg#BentonSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'BentonSans Comp';
  src: url("../fonts/BentonSansComp-Bold.eot");
  src: url("../fonts/BentonSansComp-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSansComp-Bold.woff") format("woff"), url("../fonts/BentonSansComp-Bold.ttf") format("truetype"), url("../fonts/BentonSansComp-Bold.svg#BentonSansComp-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* line 3, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.image-holder {
  position: relative;
  overflow: hidden; }

/* line 10, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped.circle .article-category {
  color: #222; }

/* line 14, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped .article-category,
.clipped .article-title,
.clipped .article-excerpt {
  padding-left: 5%; }

/* line 22, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped:hover .square-clip-path-1 {
  -webkit-clip-path: polygon(4% 9%, 96% 13%, 93% 100%, 7% 98%);
  clip-path: polygon(4% 9%, 96% 13%, 93% 100%, 7% 98%); }

/* line 28, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped:hover .square-clip-path-2 {
  -webkit-clip-path: polygon(9% 11%, 92% 14%, 96% 97%, 3% 100%);
  clip-path: polygon(9% 11%, 92% 14%, 96% 97%, 3% 100%); }

/* line 34, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped:hover .square-clip-path-3 {
  -webkit-clip-path: polygon(8% 13%, 92% 8%, 97% 99%, 3% 97%);
  clip-path: polygon(8% 13%, 92% 8%, 97% 99%, 3% 97%); }

/* line 42, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped:active .clip-mask-orange {
  background-color: rgba(247, 146, 30, 0.8); }

/* line 43, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped:active .clip-mask-blue {
  background-color: rgba(129, 209, 227, 0.8); }

/* line 44, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped:active .clip-mask-green {
  background-color: rgba(204, 222, 133, 0.8); }

/* line 48, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clipped:active .clip-mask-orange,
.clipped:active .clip-mask-blue,
.clipped:active .clip-mask-green {
  transition: background 0.144s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

/* line 55, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.square-clip-path-1,
.square-clip-path-2,
.square-clip-path-3 {
  -webkit-clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
  clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
  transition: all 0.233s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
  position: absolute; }

/* line 65, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clip-bg {
  background-size: cover; }
  /* line 68, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-1 {
    background: url("../images/square-01.jpg") no-repeat center;
    background-size: cover; }
  /* line 69, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-2 {
    background: url("../images/square-02.jpg") no-repeat center;
    background-size: cover; }
  /* line 70, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-3 {
    background: url("../images/square-03.jpg") no-repeat center;
    background-size: cover; }
  /* line 71, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-4 {
    background: url("../images/square-04.jpg") no-repeat center;
    background-size: cover; }
  /* line 72, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-5 {
    background: url("../images/square-05.jpg") no-repeat center;
    background-size: cover; }
  /* line 73, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-6 {
    background: url("../images/square-06.jpg") no-repeat center;
    background-size: cover; }
  /* line 74, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-7 {
    background: url("../images/square-07.jpg") no-repeat center;
    background-size: cover; }
  /* line 75, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-8 {
    background: url("../images/square-08.jpg") no-repeat center;
    background-size: cover; }
  /* line 76, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
  .clip-bg-9 {
    background: url("../images/square-09.jpg") no-repeat center;
    background-size: cover; }

/* line 81, /Users/Filipe/Desktop/MOSAIC/style/clip.scss */
.clip-mask-orange,
.clip-mask-blue,
.clip-mask-green {
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: background 0.61s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

/*# sourceMappingURL=clip.css.map */