@font-face {
  font-family: 'BentonSans';
  src: url("../fonts/BentonSans-Bold.eot");
  src: url("../fonts/BentonSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Bold.woff") format("woff"), url("../fonts/BentonSans-Bold.ttf") format("truetype"), url("../fonts/BentonSans-Bold.svg#BentonSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BentonSans-Book';
  src: url("../fonts/BentonSans-Book.eot");
  src: url("../fonts/BentonSans-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Book.woff") format("woff"), url("../fonts/BentonSans-Book.ttf") format("truetype"), url("../fonts/BentonSans-Book.svg#BentonSans-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BentonSans';
  src: url("../fonts/BentonSans-Medium.eot");
  src: url("../fonts/BentonSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Medium.woff") format("woff"), url("../fonts/BentonSans-Medium.ttf") format("truetype"), url("../fonts/BentonSans-Medium.svg#BentonSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'BentonSans Comp';
  src: url("../fonts/BentonSansComp-Bold.eot");
  src: url("../fonts/BentonSansComp-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSansComp-Bold.woff") format("woff"), url("../fonts/BentonSansComp-Bold.ttf") format("truetype"), url("../fonts/BentonSansComp-Bold.svg#BentonSansComp-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@keyframes circleit-in {
  0% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
    transform: translateX(0) translateY(0) scale(1); }
  100% {
    -webkit-transform: translateX(0) translateY(-25%) scale(0.4);
    transform: translateX(0) translateY(-25%) scale(0.4); } }

@keyframes circleit-out {
  0% {
    -webkit-transform: translateX(0) translateY(-25%) scale(0.4);
    transform: translateX(0) translateY(-25%) scale(0.4); }
  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
    transform: translateX(0) translateY(0) scale(1); } }

@keyframes moveit-in {
  0%, 44% {
    -webkit-transform: translateX(0) translateY(-25%) scale(0.4);
    transform: translateX(0) translateY(-25%) scale(0.4); }
  100% {
    -webkit-transform: translateX(-27%) translateY(-25%) scale(0.4);
    transform: translateX(-27%) translateY(-25%) scale(0.4); } }

@keyframes moveit-out {
  0% {
    -webkit-transform: translateX(-27%) translateY(-25%) scale(0.4);
    transform: translateX(-27%) translateY(-25%) scale(0.4); }
  100% {
    -webkit-transform: translateX(0) translateY(-25%) scale(0.4);
    transform: translateX(0) translateY(-25%) scale(0.4); } }

/* line 47, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.articles-list {
  display: block;
  width: 100%;
  position: absolute;
  top: 101%;
  height: 60%;
  padding: 0 5% 0;
  transition: top 0.521s cubic-bezier(0.215, 0.61, 0.355, 1) 0.377s; }
  /* line 67, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
  .articles-list li {
    display: table;
    width: 100%;
    font-family: 'BentonSans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    height: 60px;
    margin-bottom: 10px; }
    /* line 76, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
    .articles-list li:hover {
      color: #1a8cf3; }
  /* line 81, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
  .articles-list .list-text {
    width: calc(100% - 5vw);
    height: 4vw;
    padding-right: 5%;
    padding-left: 5%;
    vertical-align: middle;
    display: table-cell; }
  /* line 91, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
  .articles-list .list-image {
    width: 4vw;
    display: table-cell;
    height: 4vw; }
    /* line 96, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
    .articles-list .list-image.image-01 {
      background: url("http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-boot-tray_d9b36728f3d0883ae9c8be75f6bc4c89_EcYRwmT.jpg") no-repeat center;
      background-size: cover; }
    /* line 97, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
    .articles-list .list-image.image-02 {
      background: url("http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-prevent-pipes-freezing_9c6d484662c83ee52ff57f21fa6ae1d1.jpg") no-repeat center;
      background-size: cover; }
    /* line 98, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
    .articles-list .list-image.image-03 {
      background: url("http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-shoveling-snow_a0770ebd9de2c90f8802359b28167f64.jpg") no-repeat center;
      background-size: cover; }
    /* line 99, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
    .articles-list .list-image.image-04 {
      background: url("http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-storage_8fce60d27c5c347c9e6af1d377304f70.jpg") no-repeat center;
      background-size: cover; }
    /* line 100, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
    .articles-list .list-image.image-05 {
      background: url("http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-talc-squeaky-floor_9d6d88a9d3591085405678a30f441441.jpg") no-repeat center;
      background-size: cover; }
  /* line 103, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
  .articles-list .more {
    display: block;
    width: auto;
    font-family: 'BentonSans', sans-serif;
    font-weight: bold;
    font-style: normal;
    margin: 30px auto 0;
    border: 2px solid #eee;
    padding: 15px 0;
    text-align: center;
    color: #222;
    text-decoration: none;
    transition: all 0.233s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
    /* line 115, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
    .articles-list .more:hover {
      color: #1a8cf3;
      border-color: #eee; }

/* line 124, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.circle-clip-path {
  position: absolute;
  -webkit-clip-path: ellipse(45% 45% at 50% 55%);
  clip-path: ellipse(45% 45% at 50% 55%); }

/* line 130, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.circled {
  -webkit-transform: translateX(0) translateY(0) scale(1);
  transform: translateX(0) translateY(0) scale(1);
  animation: moveit-out 0.377s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 alternate, circleit-out 0.521s cubic-bezier(0.215, 0.61, 0.355, 1) 0.377s 1 alternate; }

/* line 136, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.article-text {
  opacity: 1;
  margin-top: 0;
  position: relative;
  transition: opacity 0.521s cubic-bezier(0.215, 0.61, 0.355, 1) 0.61s, margin 0.377s cubic-bezier(0.215, 0.61, 0.355, 1) 0.61s; }

/* line 143, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.hover-text {
  position: absolute;
  width: 50%;
  top: 5%;
  left: 25%;
  z-index: -1;
  opacity: 0;
  transition: left 0.233s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.233s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

/* line 156, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.clipped:hover .circled {
  animation: circleit-in 0.377s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 alternate, moveit-in 0.521s cubic-bezier(0.215, 0.61, 0.355, 1) 0.377s 1 alternate;
  -webkit-transform: translateX(-27%) translateY(-25%) scale(0.4);
  transform: translateX(-27%) translateY(-25%) scale(0.4); }

/* line 162, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.clipped:hover .hover-text {
  left: 45%;
  opacity: 1;
  transition: left 0.233s cubic-bezier(0.215, 0.61, 0.355, 1) 0.61s, opacity 0.233s cubic-bezier(0.215, 0.61, 0.355, 1) 0.61s; }

/* line 168, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.clipped:hover .article-text {
  opacity: 0;
  margin-top: -8%;
  transition: opacity 0.144s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, margin 0.144s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

/* line 174, /Users/Filipe/Desktop/MOSAIC/style/list.scss */
.clipped:hover .articles-list {
  top: 40%;
  transition: top 0.377s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

/*# sourceMappingURL=list.css.map */