@font-face {
	font-family: 'BentonSans-Book';
	src: url('../fonts/BentonSans-Book.eot');
	src: url('../fonts/BentonSans-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSans-Book.woff') format('woff'),
		url('../fonts/BentonSans-Book.ttf') format('truetype'),
		url('../fonts/BentonSans-Book.svg#BentonSans-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BentonSans';
	src: url('../fonts/BentonSans-Medium.eot');
	src: url('../fonts/BentonSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSans-Medium.woff') format('woff'),
		url('../fonts/BentonSans-Medium.ttf') format('truetype'),
		url('../fonts/BentonSans-Medium.svg#BentonSans-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'BentonSans Comp';
	src: url('../fonts/BentonSansComp-Bold.eot');
	src: url('../fonts/BentonSansComp-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSansComp-Bold.woff') format('woff'),
		url('../fonts/BentonSansComp-Bold.ttf') format('truetype'),
		url('../fonts/BentonSansComp-Bold.svg#BentonSansComp-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@mixin font($f) {
  @if ($f == "comp") {
    font-family: 'BentonSans Comp', sans-serif;
    font-weight: bold;
    font-style: normal;

  } @else if ($f == "book") {
    font-family: 'BentonSans-Book', sans-serif;
    font-weight: normal;
    font-style: normal;
    
  } @else if ($f == "medium") {
    font-family: 'BentonSans', sans-serif;
    font-weight: 500;
    font-style: normal;  
  }
}

.page-title {
  color: #ddd;
  line-height: 50px;
  @include font('comp');
  font-size: 60px;
  width: 100%;
  text-align: center;
  padding: 100px 0;
  
  span {
    font-size: 30px;
  }
}

.menu {
  display: block;
  width: 100%;
  text-align: center;
  @include font('medium');
  font-size: 16px;
  margin-bottom: 50px;
  background: #fff;
  padding: 30px 0;
  
  &.stick {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    box-shadow: 0 5px 20px #eee;
  }
  
  li {
    display: inline-block;
    color: #8e9191;
  }
  
  li a {
    margin: 10px;
    color: #1a8cf3;
    text-transform: uppercase;
    text-decoration: none;
    
    &:hover {
      color: darken(#1a8cf3, 15%);
    }
    
    &.active {
      border-bottom: 2px solid #1a8cf3;
    }
  }
}