@import 'reset';
@import 'mixins';

body {
  background: #fff;
  color: #222;
  padding: 3%;
}

.page-title {
  color: #ddd;
  line-height: 50px;
  @include font('comp');
  font-size: 60px;
  width: 100%;
  text-align: center;
  padding: 100px 0;
  
  span {
    font-size: 30px;
  }
}

.grid {
  max-width: 1440px;
  min-width: 1024px;
  display: block;
  margin: 0 auto 150px;
  
  &-column {
    display: inline-block;
    width: 38%;
    vertical-align: top;
    
    &-small {
      width: 20%;
      margin: 0 2%;
      padding-top: 1.5%;
    }
  }
}

.article {
  margin: 0 auto;
  max-width: 100%;
  display: block;
  position: relative;
  transition: underline .377s cubic-bezier(0.215, 0.61, 0.355, 1);
  vertical-align: top;
  margin-bottom: 3vw;
  overflow: hidden;
  
  &-image-mask {
    width: 100%;
    background: #ccc;
    overflow: hidden;
  }
    
  &-image {
    position: relative;
    width: 480px;
    top: 0;
    margin: -10px 0 0 -10px;
  }
    
  &-category {
    line-height: 20px;
    font-size: 13px;
    line-height: 45px;
    @include font('book');
    color: #8e9191;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    a {
      text-decoration: none;
      color: #1a8cf3;
      
      &:hover {
        color: darken(#1a8cf3, 15%);
      }
    }
  }
  
  &-title {
    @include font('comp');
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 5px;
    color: #222;
    transition: color .377s ease;
    cursor: pointer;
  }
  
  &-excerpt {
    @include font('book');
    color: #8e9191;
    font-size: 15px;
    line-height: 24px;
  }
  
  &:hover {
    cursor: pointer;
        
    .article-title {
      color: #1a8cf3;
    }
  }
}