/* line 5, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.image-holder {
  position: relative;
  overflow: hidden; }

/* line 14, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clipped .article-category,
.clipped .article-title,
.clipped .article-excerpt {
  padding-left: 5%; }

/* line 24, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clipped:hover .square-clip-path-1 {
  -webkit-clip-path: polygon(4% 9%, 96% 13%, 93% 100%, 7% 98%);
  clip-path: polygon(4% 9%, 96% 13%, 93% 100%, 7% 98%); }

/* line 33, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clipped:hover .square-clip-path-2 {
  -webkit-clip-path: polygon(9% 11%, 92% 14%, 96% 97%, 3% 100%);
  clip-path: polygon(9% 11%, 92% 14%, 96% 97%, 3% 100%); }

/* line 42, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clipped:hover .square-clip-path-3 {
  -webkit-clip-path: polygon(8% 13%, 92% 8%, 97% 99%, 3% 97%);
  clip-path: polygon(8% 13%, 92% 8%, 97% 99%, 3% 97%); }

/* line 69, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clipped:active .clip-mask-orange {
  background-color: #f7921e; }

/* line 70, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clipped:active .clip-mask-blue {
  background-color: #81d1e3; }

/* line 71, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clipped:active .clip-mask-green {
  background-color: #ccde85; }

/* line 75, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clipped:active .clip-mask-orange,
.clipped:active .clip-mask-blue,
.clipped:active .clip-mask-green {
  transition: background 0.144s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* line 84, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.square-clip-path-1,
.square-clip-path-2,
.square-clip-path-3 {
  -webkit-clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
  clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
  transition: all 0.233s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: scale(1);
  transform: scale(1);
  position: absolute; }

/* line 94, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.circle-clip-path {
  transition: all 0.233s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  position: absolute; }

/* line 101, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.circle-mask {
  position: absolute;
  z-index: 2;
  outline: 300px solid #fff;
  dropshadow: 5px 5px 5px #fff;
  transition: all 0.233s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(0deg) translateX(0) translateY(0) scale(3);
  transform: rotate(0deg) translateX(0) translateY(0) scale(3); }

/* line 111, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clip-bg {
  background-size: cover; }
  /* line 114, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-1 {
    background: url("../images/square-01.jpg") no-repeat center;
    background-size: cover; }
  /* line 115, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-2 {
    background: url("../images/square-02.jpg") no-repeat center;
    background-size: cover; }
  /* line 116, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-3 {
    background: url("../images/square-03.jpg") no-repeat center;
    background-size: cover; }
  /* line 117, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-4 {
    background: url("../images/square-04.jpg") no-repeat center;
    background-size: cover; }
  /* line 118, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-5 {
    background: url("../images/square-05.jpg") no-repeat center;
    background-size: cover; }
  /* line 119, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-6 {
    background: url("../images/square-06.jpg") no-repeat center;
    background-size: cover; }
  /* line 120, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-7 {
    background: url("../images/square-07.jpg") no-repeat center;
    background-size: cover; }
  /* line 121, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-8 {
    background: url("../images/square-08.jpg") no-repeat center;
    background-size: cover; }
  /* line 122, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
  .clip-bg-9 {
    background: url("../images/square-09.jpg") no-repeat center;
    background-size: cover; }

/* line 127, /Users/Filipe/Dropbox/Dropbox (Work & Co)/Projects/Instant Rollover/_NEW/_full-color/style/clip.scss */
.clip-mask-orange,
.clip-mask-blue,
.clip-mask-green {
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: background 0.987s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*# sourceMappingURL=clip.css.map */