@mixin transi {
  transition: all .233s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.image-holder {
  position: relative;
  overflow: hidden;
}

.clipped {
  
  .article-category,
  .article-title,
  .article-excerpt {
    padding-left: 5%;
  }
  
  &:hover {
    
    .square-clip-path {
      

      
      &-1 {
//        -webkit-clip-path: polygon(5% 10%, 97% 16%, 90% 100%, 10% 97%);
//        clip-path: polygon(5% 10%, 97% 16%, 90% 100%, 10% 97%);
        
        -webkit-clip-path: polygon(4% 9%, 96% 13%, 93% 100%, 7% 98%);
                clip-path: polygon(4% 9%, 96% 13%, 93% 100%, 7% 98%);
      }
      
      
      &-2 {
//        -webkit-clip-path: polygon(11% 12%, 87% 18%, 94% 95%, 4% 98%);
//                clip-path: polygon(11% 12%, 87% 18%, 94% 95%, 4% 98%);
        
        -webkit-clip-path: polygon(9% 11%, 92% 14%, 96% 97%, 3% 100%);
                clip-path: polygon(9% 11%, 92% 14%, 96% 97%, 3% 100%);
      }
      
      
      &-3 {
//        -webkit-clip-path: polygon(10% 14%, 90% 7%, 97% 99%, 3% 97%);
//                clip-path: polygon(10% 14%, 90% 7%, 97% 99%, 3% 97%);
        
        // INITIAL STATE
//      -webkit-clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
        //      clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
        
        -webkit-clip-path: polygon(8% 13%, 92% 8%, 97% 99%, 3% 97%);
                clip-path: polygon(8% 13%, 92% 8%, 97% 99%, 3% 97%);
      }
      
//      &-1,
//      &-2,
//      &-3 {
//        -webkit-transform: scale(1.03);
//        transform: scale(1.03);
//      }
    }
    
    .circle-clip-path {
//      -webkit-transform: translateX(3.4%);
//              transform: translateX(3.4%);
    }
  }
  
  &:active {
    .clip-mask-orange { background-color: rgba(#f7921e, 1); }
    .clip-mask-blue { background-color: rgba(#81d1e3, 1); }
    .clip-mask-green { background-color: rgba(#ccde85, 1); }
    
    .clip-mask-orange,
    .clip-mask-blue,
    .clip-mask-green {
      transition: background .144s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

.square-clip-path {
  &-1,
  &-2,
  &-3 {
    -webkit-clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
    clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
    @include transi;
    -webkit-transform: scale(1);
    transform: scale(1);
    position: absolute;
  }
}

.circle-clip-path {
  @include transi;
  -webkit-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  position: absolute;
}

.circle-mask {
  position: absolute;
  z-index: 2;
  outline: 300px solid #fff;
  dropshadow: 5px 5px 5px #fff;
  @include transi;
  -webkit-transform: rotate(0deg) translateX(0) translateY(0) scale(3);
          transform: rotate(0deg) translateX(0) translateY(0) scale(3);
}

.clip-bg {
  background-size: cover;

  &-1 { background: url('../images/square-01.jpg') no-repeat center; background-size: cover; }
  &-2 { background: url('../images/square-02.jpg') no-repeat center; background-size: cover; }
  &-3 { background: url('../images/square-03.jpg') no-repeat center; background-size: cover; }
  &-4 { background: url('../images/square-04.jpg') no-repeat center; background-size: cover; }
  &-5 { background: url('../images/square-05.jpg') no-repeat center; background-size: cover; }
  &-6 { background: url('../images/square-06.jpg') no-repeat center; background-size: cover; }
  &-7 { background: url('../images/square-07.jpg') no-repeat center; background-size: cover; }
  &-8 { background: url('../images/square-08.jpg') no-repeat center; background-size: cover; }
  &-9 { background: url('../images/square-09.jpg') no-repeat center; background-size: cover; }
}

.clip-mask-orange,
.clip-mask-blue,
.clip-mask-green {
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: background .987s cubic-bezier(0.215, 0.61, 0.355, 1);
}