/* line 1, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
* {
  box-sizing: border-box; }

/* line 5, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
a, button {
  -webkit-tap-highlight-color: #ffbc00; }

/* line 9, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
body {
  float: left;
  width: 100%;
  height: 6600px;
  max-width: 414px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

/* line 19, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
.menu {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 32px 30px;
  z-index: 4;
  -webkit-tap-highlight-color: #333; }
  /* line 29, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .menu .hamb {
    display: block;
    width: 20px;
    height: 3px;
    margin: 6px 0 0;
    background: #ffbc00; }
  /* line 37, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .menu .hamb:before, .menu .hamb:after {
    width: 20px;
    height: 3px;
    background: #ffbc00;
    content: " ";
    position: absolute;
    margin: 0;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
  /* line 50, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .menu .hamb:before {
    margin-top: -6px; }
  /* line 51, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .menu .hamb:after {
    margin-top: 6px; }
  /* line 53, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .menu.to-close {
    top: 0;
    right: 0;
    background: #333; }
    /* line 59, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
    .menu.to-close .hamb {
      background: #fff; }
    /* line 63, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
    .menu.to-close .hamb:before, .menu.to-close .hamb:after {
      opacity: 0; }

/* line 69, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
.menu-opened {
  position: fixed;
  padding: 10px 10px 0 0;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 6;
  background: #212121;
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s; }
  /* line 82, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .menu-opened.open {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  /* line 87, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .menu-opened .menu {
    margin: 10px 10px 0 0; }
  /* line 91, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .menu-opened img {
    float: left;
    width: 220px; }

/* line 97, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
.wrapper {
  display: block;
  height: 6600px; }

/* line 102, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
.content {
  height: 6600px; }
  /* line 105, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .content:before {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: block;
    background: #fff;
    z-index: 2;
    top: 0;
    bottom: 0;
    opacity: 0;
    content: " ";
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
  /* line 121, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .content.transit:before {
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
  /* line 127, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .content img {
    height: 6600px; }

/* line 130, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
.navigator {
  position: fixed;
  bottom: 0;
  z-index: 300;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s; }
  /* line 140, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .navigator.active {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

/* line 146, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
.navigator {
  width: 100%;
  height: 50px;
  max-width: 414px;
  margin: 0;
  padding: 0;
  background: #333; }
  /* line 154, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
  .navigator li {
    display: block;
    float: left;
    text-transform: uppercase; }
    /* line 159, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
    .navigator li.active {
      box-shadow: inset 0 -2px 0 0 #fff; }
    /* line 163, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
    .navigator li a {
      padding: 0 10px;
      line-height: 50px;
      font-size: 10px;
      display: block;
      color: #ffbc00;
      font-weight: bold;
      text-decoration: none; }

/* line 175, /Users/Filipe/Projects/Filipe Guth/clic/style/main.scss */
img {
  float: left;
  dislpay: block;
  width: 100%;
  max-width: 414px; }

/*# sourceMappingURL=main.css.map */