/* line 5, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.image-holder {
  position: relative;
  overflow: hidden; }

/* line 14, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped .article-category,
.clipped .article-title,
.clipped .article-excerpt {
  padding-left: 5%; }

/* line 29, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:hover .square-clip-path-1 {
  -webkit-clip-path: polygon(4% 9%, 96% 13%, 93% 100%, 7% 98%);
  clip-path: polygon(4% 9%, 96% 13%, 93% 100%, 7% 98%); }

/* line 38, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:hover .square-clip-path-2 {
  -webkit-clip-path: polygon(9% 11%, 92% 14%, 96% 97%, 3% 100%);
  clip-path: polygon(9% 11%, 92% 14%, 96% 97%, 3% 100%); }

/* line 47, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:hover .square-clip-path-3 {
  -webkit-clip-path: polygon(8% 13%, 92% 8%, 97% 99%, 3% 97%);
  clip-path: polygon(8% 13%, 92% 8%, 97% 99%, 3% 97%); }

/* line 67, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:hover .circle-clip-path {
  -webkit-transform: scale(0.275);
  transform: scale(0.275); }

/* line 72, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:hover .circle-mask {
  -webkit-transform: rotate(0deg) translateX(0) translateY(-1.5%) scale(0.9);
  transform: rotate(0deg) translateX(0) translateY(-1.5%) scale(0.9); }

/* line 77, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:hover .circled {
  -webkit-transform: translateX(-35%) translateY(-25%);
  transform: translateX(-35%) translateY(-25%);
  margin-bottom: 25%;
  transition: transform 0.233s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* line 84, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:hover .article-text {
  position: absolute;
  display: block;
  top: 7%;
  padding-left: 30%; }

/* line 91, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:hover .articles-list {
  opacity: 1;
  transition: opacity 0.61s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* line 98, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:active .clip-mask-orange {
  background-color: rgba(247, 146, 30, 0.8); }

/* line 99, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:active .clip-mask-blue {
  background-color: rgba(129, 209, 227, 0.8); }

/* line 100, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:active .clip-mask-green {
  background-color: rgba(204, 222, 133, 0.8); }

/* line 104, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clipped:active .clip-mask-orange,
.clipped:active .clip-mask-blue,
.clipped:active .clip-mask-green {
  transition: background 0.144s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* line 113, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.square-clip-path-1,
.square-clip-path-2,
.square-clip-path-3 {
  -webkit-clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
  clip-path: polygon(5% 10%, 95% 10%, 95% 100%, 5% 100%);
  transition: all 0.233s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: scale(1);
  transform: scale(1);
  position: absolute; }

/* line 123, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.circle-clip-path {
  transition: all 0.233s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  position: absolute; }

/* line 131, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.circle-mask {
  position: absolute;
  z-index: 2;
  transition: all 0.233s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(0deg) translateX(0) translateY(0) scale(3);
  transform: rotate(0deg) translateX(0) translateY(0) scale(3); }

/* line 139, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.circled {
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
  transition: transform 0.233s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* line 145, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clip-bg {
  background-size: cover; }
  /* line 148, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-1 {
    background: url("../images/square-01.jpg") no-repeat center;
    background-size: cover; }
  /* line 149, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-2 {
    background: url("../images/square-02.jpg") no-repeat center;
    background-size: cover; }
  /* line 150, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-3 {
    background: url("../images/square-03.jpg") no-repeat center;
    background-size: cover; }
  /* line 151, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-4 {
    background: url("../images/square-04.jpg") no-repeat center;
    background-size: cover; }
  /* line 152, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-5 {
    background: url("../images/square-05.jpg") no-repeat center;
    background-size: cover; }
  /* line 153, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-6 {
    background: url("../images/square-06.jpg") no-repeat center;
    background-size: cover; }
  /* line 154, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-7 {
    background: url("../images/square-07.jpg") no-repeat center;
    background-size: cover; }
  /* line 155, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-8 {
    background: url("../images/square-08.jpg") no-repeat center;
    background-size: cover; }
  /* line 156, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
  .clip-bg-9 {
    background: url("../images/square-09.jpg") no-repeat center;
    background-size: cover; }

/* line 161, /Users/Filipe/Desktop/Instant Rollover/_list/style/clip.scss */
.clip-mask-orange,
.clip-mask-blue,
.clip-mask-green {
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: background 0.61s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*# sourceMappingURL=clip.css.map */