@font-face {
	font-family: 'BentonSans-Book';
	src: url('../fonts/BentonSans-Book.eot');
	src: url('../fonts/BentonSans-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSans-Book.woff') format('woff'),
		url('../fonts/BentonSans-Book.ttf') format('truetype'),
		url('../fonts/BentonSans-Book.svg#BentonSans-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BentonSans';
	src: url('../fonts/BentonSans-Medium.eot');
	src: url('../fonts/BentonSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSans-Medium.woff') format('woff'),
		url('../fonts/BentonSans-Medium.ttf') format('truetype'),
		url('../fonts/BentonSans-Medium.svg#BentonSans-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'BentonSans Comp';
	src: url('../fonts/BentonSansComp-Bold.eot');
	src: url('../fonts/BentonSansComp-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSansComp-Bold.woff') format('woff'),
		url('../fonts/BentonSansComp-Bold.ttf') format('truetype'),
		url('../fonts/BentonSansComp-Bold.svg#BentonSansComp-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@mixin font($f) {
  @if ($f == "comp") {
    font-family: 'BentonSans Comp', sans-serif;
    font-weight: bold;
    font-style: normal;

  } @else if ($f == "book") {
    font-family: 'BentonSans-Book', sans-serif;
    font-weight: normal;
    font-style: normal;
    
  } @else if ($f == "medium") {
    font-family: 'BentonSans', sans-serif;
    font-weight: 500;
    font-style: normal;  
  }
}



body {
  background: #fff;
  color: #222;
  padding: 3%;
}

.page-title {
  color: #ddd;
  line-height: 50px;
  @include font('comp');
  font-size: 60px;
  width: 100%;
  text-align: center;
  padding: 100px 0;
  
  span {
    font-size: 30px;
  }
}

.grid {
  max-width: 1440px;
  min-width: 1024px;
  display: block;
  margin: 0 auto 150px;
  
  &-column {
    display: inline-block;
    width: 38%;
    vertical-align: top;
    
    &-small {
      width: 20%;
      margin: 0 2%;
      padding-top: 1.5%;
    }
  }
}

.article {
  margin: 0 auto;
  max-width: 100%;
  display: block;
  position: relative;
  transition: underline .377s cubic-bezier(0.215, 0.61, 0.355, 1);
  vertical-align: top;
  margin-bottom: 3vw;
  overflow: hidden;
  
  &-image-mask {
    width: 100%;
    background: #ccc;
    overflow: hidden;
  }
    
  &-image {
    position: relative;
    width: 480px;
    top: 0;
    margin: -10px 0 0 -10px;
  }
    
  &-category {
    line-height: 20px;
    font-size: 13px;
    line-height: 45px;
    @include font('book');
    color: #8e9191;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    a {
      text-decoration: none;
      color: #1a8cf3;
      
      &:hover {
        color: darken(#1a8cf3, 15%);
      }
    }
  }
  
  &-title {
    @include font('comp');
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 5px;
    color: #222;
    transition: color .377s ease;
    cursor: pointer;
  }
  
  &-excerpt {
    @include font('book');
    color: #8e9191;
    font-size: 15px;
    line-height: 24px;
  }
  
  &:hover {
    cursor: pointer;
        
    .article-title {
      color: #1a8cf3;
    }
  }
}

.articles-list {
  display: block;
  width: 100%;
  position: absolute;
  top: 35%;
  padding: 10% 5% 0;
  height: 105vh;
  opacity: 0;
  transition: opacity .233s cubic-bezier(0.215, 0.61, 0.355, 1);
  
  &:before {
    display: block;
    width: 4vw;
    height: 3px;
    background: #ccc;
    content: " ";
    position: relative;
    top: -5%;
  }
  
  li {
    display: table;
    width: 100%;
    @include font('medium');
    font-size: 16px;
    line-height: 24px;
    height: 60px;
    margin-bottom: 10px;
    
    &:hover {
      color: #1a8cf3;
    }
  }
  
//  div {
//    float: left;
//  }
  
  .list-text {
    width: calc(100% - 5vw);
    height: 4vw;
    padding-right: 5%;
    padding-left: 5%;
    vertical-align: middle;
    display: table-cell;
  }
  
  
  .list-image {
    width: 4vw;
    display: table-cell;
    height: 4vw;
    
    &.image-01 { background: url('http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-boot-tray_d9b36728f3d0883ae9c8be75f6bc4c89_EcYRwmT.jpg') no-repeat center; background-size: cover;}
    &.image-02 { background: url('http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-prevent-pipes-freezing_9c6d484662c83ee52ff57f21fa6ae1d1.jpg') no-repeat center; background-size: cover;}
    &.image-03 { background: url('http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-shoveling-snow_a0770ebd9de2c90f8802359b28167f64.jpg') no-repeat center; background-size: cover;}
    &.image-04 { background: url('http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-storage_8fce60d27c5c347c9e6af1d377304f70.jpg') no-repeat center; background-size: cover;}
    &.image-05 { background: url('http://c0263062.cdn.cloudfiles.rackspacecloud.com/content/images/winterize-your-home-talc-squeaky-floor_9d6d88a9d3591085405678a30f441441.jpg') no-repeat center; background-size: cover;}
  }
}