html, body {
  overflow-x: hidden; }

.main {
  padding: 2.3125rem 0 3.8125rem; }
  @media screen and (min-width: 734px)  {
    .main {
      padding: 4.1875rem 0 6.3125rem; } }
  @media screen and (min-width: 1024px)  {
    .main {
      padding-bottom: 7.6875rem; } }
  @media screen and (min-width: 1280px)  {
    .main {
      padding-top: 4.6875rem; } }
  .wrap--loading .main {
    display: block;
    height: 100%;
    background-color: #ffffff; }

.home-button {
  display: inline-block;
  height: 3.125rem;
  background-color: #ffffff;
  border-radius: 0.125rem;
  color: #222222;
  font-size: 0.875rem;
  padding: 1.125rem 1.5rem 0;
  text-align: center;
  -webkit-transition: box-shadow 377ms ease;
          transition: box-shadow 377ms ease; }
  @media screen and (min-width: 734px)  {
    .home-button {
      font-size: 1rem;
      padding: 1.4375rem 2.4375rem 0;
      height: 3.75rem; } }
  @media screen and (min-width: 1024px)  {
    .home-button {
      height: 4.375rem;
      font-size: 1.3125rem;
      padding: 1.5rem 2rem 0; } }
  .no-touch .home-button:hover {
    box-shadow: 0rem 0.9375rem 3.125rem -0.375rem rgba(34, 34, 34, 0.2); }

.footer {
  background-color: #ffffff; }

@media screen and (min-width: 734px)  {
  .menu {
    height: 7.5rem;
    background-image: none; } }
.menu:after {
  display: none; }

.menu__item a {
  color: #222222; }

@media screen and (min-width: 734px)  {
  .menu__logo {
    width: 3.75rem; } }
@media screen and (min-width: 1024px)  {
  .menu__logo {
    width: 4.375rem; } }
.old-ie .menu__logo svg {
  height: 7.5rem; }

@media screen and (min-width: 734px)  {
  .old-ie .menu__minha-oi {
    margin-top: 2.25rem; } }
@media screen and (min-width: 1024px)  {
  .old-ie .menu__minha-oi {
    margin-top: 1.875rem; } }
@media screen and (min-width: 1280px)  {
  .old-ie .menu__minha-oi {
    margin-top: 1.625rem; } }
@media screen and (min-width: 734px)  {
  .menu__minha-oi a {
    background-color: rgba(34, 34, 34, 0.21);
    color: #ffffff; }
    .no-touch .menu__minha-oi a:hover {
      background-color: rgba(34, 34, 34, 0.34); }
    .tv-hd .menu__minha-oi a {
      background-color: rgba(34, 34, 34, 0.7); }
      .no-touch .tv-hd .menu__minha-oi a:hover {
        background-color: rgba(34, 34, 34, 0.9); } }

.menu__submenu a {
  color: #ffffff; }

.hero {
  display: none; }
  @media screen and (min-width: 734px)  {
    .hero {
      display: block;
      color: #222222; } }
  .hero:after {
    position: absolute;
    display: block;
    background: rgba(34, 34, 34, 0.13);
    content: '';
    height: 0.075rem;
    width: 200%;
    bottom: 0;
    left: -50%; }
  .hero a {
    color: #222222; }

@media screen and (min-width: 734px)  {
  .hero__title, .hero__menu {
    height: 3.875rem; } }

.hero__title {
  display: none; }

.hero__menu {
  margin: 0; }

.hero__sign-box {
  display: none; }

.hide {
  display: none; }

@media screen and (min-width: 734px)  {
  .small-only {
    display: none; } }

@media screen and (max-width: 733px)  {
  .medium-only {
    display: none; } }
@media screen and (min-width: 1024px)  {
  .medium-only {
    display: none; } }

@media screen and (min-width: 1024px)  {
  .medium-down {
    display: none; } }

@media screen and (max-width: 733px)  {
  .medium-up {
    display: none; } }

@media screen and (min-width: 1024px)  {
  .large-down {
    display: none; } }

@media screen and (max-width: 1023px)  {
  .large-only {
    display: none; } }
@media screen and (min-width: 1280px)  {
  .large-only {
    display: none; } }

@media screen and (max-width: 1023px)  {
  .large-up {
    display: none; } }

@media screen and (min-width: 1280px)  {
  .extra-large-down {
    display: none; } }

@media screen and (max-width: 1279px)  {
  .extra-large-up {
    display: none; } }
